In [1]:
import pandas as pd

In [2]:
df_2018 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2018_below_33_percentage_kriging.csv")

In [3]:
df_2018.head()

,latitude,longitude,2018-01-02,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-09,2018-01-13,2018-01-14,...,2018-12-15,2018-12-16,2018-12-18,2018-12-20,2018-12-22,2018-12-23,2018-12-24,2018-12-25,2018-12-27,2018-12-29
0,28.414,77.171,0.322,0.816000,1.422,2.179,1.117,0.625,0.206,0.441,...,0.652,0.760,0.404,0.688,0.552,0.933,1.650,0.921,0.554,0.906
1,28.414,77.181,0.305,0.818462,1.360,2.154,1.069,0.615,0.201,0.430,...,0.647,0.745,0.405,0.675,0.543,0.936,1.620,0.884,0.522,0.893
2,28.414,77.192,0.293,0.824012,1.337,2.130,1.059,0.603,0.205,0.437,...,0.665,0.760,0.415,0.679,0.550,0.954,1.626,0.870,0.516,0.897
3,28.414,77.202,0.305,0.833312,1.314,2.129,1.047,0.624,0.222,0.453,...,0.663,0.777,0.430,0.686,0.570,0.973,1.654,0.863,0.533,0.899
4,28.414,77.213,0.319,0.848415,1.327,2.147,1.050,0.653,0.241,0.453,...,0.681,0.815,0.444,0.704,0.591,1.009,1.703,0.879,0.579,0.919

In [4]:
df_2019 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2019_below_33_percentage_kriging.csv")

In [5]:
df_2019.head()

,latitude,longitude,2019-01-05,2019-01-07,2019-01-08,2019-01-10,2019-01-14,2019-01-16,2019-01-17,2019-01-26,...,2019-11-25,2019-11-28,2019-11-30,2019-12-02,2019-12-03,2019-12-07,2019-12-09,2019-12-10,2019-12-21,2019-12-26
0,28.414,77.171,1.975559,0.674077,1.132,0.862,0.530,0.550315,1.123,0.595,...,0.444,0.963,0.499,0.339,0.431,0.514,0.348,0.560,0.607,0.531
1,28.414,77.181,1.930000,0.685184,1.105,0.846,0.525,0.555699,1.039,0.559,...,0.449,0.940,0.491,0.337,0.425,0.503,0.362,0.575,0.594,0.658
2,28.414,77.192,1.910000,0.696978,1.101,0.840,0.527,0.561571,1.128,0.553,...,0.452,0.938,0.490,0.337,0.436,0.504,0.368,0.577,0.590,0.636
3,28.414,77.202,1.925000,0.709000,1.104,0.838,0.525,0.594000,1.058,0.560,...,0.456,0.942,0.514,0.363,0.453,0.510,0.366,0.582,0.606,0.608
4,28.414,77.213,1.959000,0.716712,1.135,0.858,0.536,0.568611,1.065,0.593,...,0.479,1.029,0.543,0.388,0.478,0.579,0.384,0.597,0.640,0.615

In [6]:
df_2020 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2020_below_33_percentage_kriging.csv")

In [7]:
df_2020.head()

,latitude,longitude,2020-03-07,2020-12-07,2020-01-04,2020-01-19,2020-01-22,2020-01-24,2020-01-26,2020-01-28,...,2020-12-02,2020-12-04,2020-12-05,2020-12-16,2020-12-18,2020-12-21,2020-12-23,2020-12-27,2020-12-28,2020-12-30
0,28.414,77.171,0.399,1.503,1.092,0.65200,1.109,0.54785,0.735000,0.340,...,0.477,0.741,1.221,0.531,0.389,0.425,0.491,0.390,0.531,0.549
1,28.414,77.181,0.395,1.433,1.077,0.66500,1.070,0.54785,0.756000,0.341,...,0.481,0.742,1.161,0.524,0.375,0.423,0.493,0.368,0.515,0.530
2,28.414,77.192,0.390,1.476,1.085,0.66300,1.051,0.54785,0.756000,0.337,...,0.491,0.741,1.173,0.517,0.366,0.418,0.482,0.363,0.506,0.518
3,28.414,77.202,0.408,1.371,1.106,0.68300,1.067,0.54785,0.767311,0.354,...,0.506,0.743,1.217,0.532,0.377,0.423,0.483,0.375,0.505,0.525
4,28.414,77.213,0.439,1.463,1.157,0.68767,1.093,0.54785,0.785799,0.375,...,0.525,0.748,1.233,0.544,0.385,0.436,0.495,0.392,0.532,0.555

In [8]:
df_2021 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2021_below_33_percentage_kriging.csv")

In [9]:
df_2021.head()

,latitude,longitude,2021-01-01,2021-01-10,2021-01-12,2021-01-13,2021-01-17,2021-01-21,2021-01-22,2021-01-26,...,2021-12-05,2021-12-07,2021-12-08,2021-12-10,2021-12-12,2021-12-14,2021-12-15,2021-12-19,2021-12-21,2021-12-24
0,28.414,77.171,0.586,0.373,0.185,0.477808,0.423,0.455,0.645,0.467,...,0.747,0.958,0.555,0.645,0.404,0.876,0.896,0.479,0.579,1.516
1,28.414,77.181,0.570,0.375,0.178,0.474682,0.403,0.455,0.623,0.454,...,0.747,0.963,0.556,0.655,0.398,0.877,0.896,0.475,0.587,1.527
2,28.414,77.192,0.561,0.376,0.178,0.470952,0.394,0.459,0.627,0.438,...,0.749,0.972,0.562,0.658,0.396,0.880,0.915,0.480,0.591,1.577
3,28.414,77.202,0.581,0.394,0.194,0.467632,0.423,0.479,0.616,0.458,...,0.770,1.002,0.558,0.687,0.420,0.900,0.905,0.502,0.598,1.651
4,28.414,77.213,0.595,0.425,0.214,0.463414,0.459,0.501,0.625,0.466,...,0.791,1.028,0.575,0.707,0.438,0.922,0.913,0.505,0.620,1.589

In [10]:
df_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2022_below_33_percentage_kriging.csv")

In [11]:
df_2022.head()

,latitude,longitude,2022-03-21,2022-05-23,2022-10-21,2022-11-03,2022-12-04,2022-01-02,2022-01-11,2022-01-13,...,2022-12-06,2022-12-08,2022-12-10,2022-12-11,2022-12-13,2022-12-15,2022-12-17,2022-12-18,2022-12-20,2022-12-27
0,28.414,77.171,0.929,2.828,0.502,0.948,0.974,1.001,0.000,0.122,...,0.628,0.382,0.774333,0.831,0.750,0.310,0.325,0.212,0.702,0.452
1,28.414,77.181,0.889,2.895,0.522,0.967,1.024,0.898,0.006,0.093,...,0.652,0.389,0.788927,0.772,0.753,0.317,0.328,0.231,0.709,0.477
2,28.414,77.192,0.897,2.874,0.526,0.989,0.991,0.883,0.042,0.076,...,0.649,0.389,0.800519,0.813,0.750,0.319,0.327,0.235,0.709,0.490
3,28.414,77.202,0.923,2.714,0.532,1.022,0.958,0.867,0.053,0.070,...,0.648,0.396,0.810146,0.786,0.749,0.333,0.338,0.232,0.724,0.505
4,28.414,77.213,0.960,2.855,0.543,1.061,0.983,0.860,0.075,0.079,...,0.655,0.411,0.819701,0.807,0.754,0.355,0.352,0.246,0.749,0.512

In [12]:
df_2023 = pd.read_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/kriging_33_percentage_csv/2023_below_33_percentage_kriging.csv")

In [13]:
df_2023.head()

,latitude,longitude,2023-01-04,2023-02-04,2023-02-06,2023-03-07,2021-02-22,2021-02-23,2021-02-25,2021-02-27,...,2023-08-07,2023-08-11,2023-08-12,2023-08-16,2023-08-17,2023-09-09,2023-09-10,2023-09-12,2023-09-14,2023-09-22
0,28.414,77.171,0.339,0.665,0.715,0.609,0.44400,0.538,0.794,0.914,...,1.186,1.498,1.498,1.898,1.438,0.905,0.635,0.666,0.889,0.465
1,28.414,77.181,0.349,0.662,0.664,0.623,0.43361,0.508,0.806,0.857,...,1.126,1.411,1.400,1.830,1.337,0.886,0.625,0.611,0.855,0.391
2,28.414,77.192,0.363,0.662,0.664,0.637,0.46700,0.561,0.807,0.842,...,1.124,1.310,1.366,1.752,1.338,0.854,0.633,0.589,0.819,0.394
3,28.414,77.202,0.368,0.706,0.649,0.634,0.48500,0.523,0.843,0.871,...,1.146,1.298,1.375,1.763,1.369,0.857,0.640,0.601,0.823,0.417
4,28.414,77.213,0.373,0.664,0.662,0.639,0.49100,0.573,0.859,0.899,...,1.187,1.334,1.450,1.801,1.340,0.891,0.667,0.662,0.858,0.472

In [14]:
# By using DataFrame.merge()
df = df_2018.merge(df_2019,on=['latitude',"longitude"]).merge(df_2020,on=["latitude","longitude"]).merge(df_2021,on = ["latitude","longitude"]).merge(df_2022,on = ["latitude","longitude"]).merge(df_2023,on = ["latitude","longitude"])
print("Afetr merging the multiple DataFrames:\n", df)

Afetr merging the multiple DataFrames:
       latitude  longitude  2018-01-02  2018-01-04  2018-01-05  2018-01-06  \
0       28.414     77.171       0.322    0.816000    1.422000       2.179
1       28.414     77.181       0.305    0.818462    1.360000       2.154
2       28.414     77.192       0.293    0.824012    1.337000       2.130
3       28.414     77.202       0.305    0.833312    1.314000       2.129
4       28.414     77.213       0.319    0.848415    1.327000       2.147
...        ...        ...         ...         ...         ...         ...
1345    28.864     77.078       0.235    0.381000    1.622980       1.339
1346    28.864     77.088       0.246    0.373000    1.633852       1.259
1347    28.864     77.098       0.248    0.375000    1.647527       1.258
1348    28.864     77.109       0.246    0.375000    1.668693       1.244
1349    28.874     77.088       0.241    0.391000    1.633852       1.333

      2018-01-07  2018-01-09  2018-01-13  2018-01-14  ...  2023-08-07  \
0          1.117       0.625       0.206       0.441  ...       1.186
1          1.069       0.615       0.201       0.430  ...       1.126
2          1.059       0.603       0.205       0.437  ...       1.124
3          1.047       0.624       0.222       0.453  ...       1.146
4          1.050       0.653       0.241       0.453  ...       1.187
...          ...         ...         ...         ...  ...         ...
1345       1.107       0.696       0.286       0.276  ...       1.468
1346       1.066       0.698       0.286       0.293  ...       1.566
1347       1.055       0.692       0.302       0.295  ...       1.563
1348       1.055       0.698       0.320       0.314  ...       1.575
1349       1.113       0.693       0.298       0.299  ...       1.553

      2023-08-11  2023-08-12  2023-08-16  2023-08-17  2023-09-09  2023-09-10  \
0          1.498       1.498       1.898       1.438       0.905       0.635
1          1.411       1.400       1.830       1.337       0.886       0.625
2          1.310       1.366       1.752       1.338       0.854       0.633
3          1.298       1.375       1.763       1.369       0.857       0.640
4          1.334       1.450       1.801       1.340       0.891       0.667
...          ...         ...         ...         ...         ...         ...
1345       1.528       1.353       2.004       1.537       0.909       0.658
1346       1.533       1.410       2.410       1.592       0.926       0.699
1347       1.536       1.438       2.407       1.596       0.922       0.699
1348       1.536       1.462       2.404       1.646       0.915       0.735
1349       1.445       1.345       1.972       1.587       0.826       0.700

      2023-09-12  2023-09-14  2023-09-22
0          0.666       0.889       0.465
1          0.611       0.855       0.391
2          0.589       0.819       0.394
3          0.601       0.823       0.417
4          0.662       0.858       0.472
...          ...         ...         ...
1345       0.909       1.041       0.527
1346       1.010       1.076       0.607
1347       0.995       1.077       0.625
1348       1.008       1.038       0.678
1349       0.878       0.921       0.510

[1350 rows x 701 columns]

In [15]:
df

,latitude,longitude,2018-01-02,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-09,2018-01-13,2018-01-14,...,2023-08-07,2023-08-11,2023-08-12,2023-08-16,2023-08-17,2023-09-09,2023-09-10,2023-09-12,2023-09-14,2023-09-22
0,28.414,77.171,0.322,0.816000,1.422000,2.179,1.117,0.625,0.206,0.441,...,1.186,1.498,1.498,1.898,1.438,0.905,0.635,0.666,0.889,0.465
1,28.414,77.181,0.305,0.818462,1.360000,2.154,1.069,0.615,0.201,0.430,...,1.126,1.411,1.400,1.830,1.337,0.886,0.625,0.611,0.855,0.391
2,28.414,77.192,0.293,0.824012,1.337000,2.130,1.059,0.603,0.205,0.437,...,1.124,1.310,1.366,1.752,1.338,0.854,0.633,0.589,0.819,0.394
3,28.414,77.202,0.305,0.833312,1.314000,2.129,1.047,0.624,0.222,0.453,...,1.146,1.298,1.375,1.763,1.369,0.857,0.640,0.601,0.823,0.417
4,28.414,77.213,0.319,0.848415,1.327000,2.147,1.050,0.653,0.241,0.453,...,1.187,1.334,1.450,1.801,1.340,0.891,0.667,0.662,0.858,0.472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.235,0.381000,1.622980,1.339,1.107,0.696,0.286,0.276,...,1.468,1.528,1.353,2.004,1.537,0.909,0.658,0.909,1.041,0.527
1346,28.864,77.088,0.246,0.373000,1.633852,1.259,1.066,0.698,0.286,0.293,...,1.566,1.533,1.410,2.410,1.592,0.926,0.699,1.010,1.076,0.607
1347,28.864,77.098,0.248,0.375000,1.647527,1.258,1.055,0.692,0.302,0.295,...,1.563,1.536,1.438,2.407,1.596,0.922,0.699,0.995,1.077,0.625
1348,28.864,77.109,0.246,0.375000,1.668693,1.244,1.055,0.698,0.320,0.314,...,1.575,1.536,1.462,2.404,1.646,0.915,0.735,1.008,1.038,0.678
1349,28.874,77.088,0.241,0.391000,1.633852,1.333,1.113,0.693,0.298,0.299,...,1.553,1.445,1.345,1.972,1.587,0.826,0.700,0.878,0.921,0.510

# Remove the duplicate columns

In [16]:
#df.columns.duplicated()

In [17]:
import pandas as pd


# Find and drop duplicate columns
df = df.loc[:, ~df.columns.duplicated()]
df
# Now, df contains only unique columns

,latitude,longitude,2018-01-02,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-09,2018-01-13,2018-01-14,...,2023-08-07,2023-08-11,2023-08-12,2023-08-16,2023-08-17,2023-09-09,2023-09-10,2023-09-12,2023-09-14,2023-09-22
0,28.414,77.171,0.322,0.816000,1.422000,2.179,1.117,0.625,0.206,0.441,...,1.186,1.498,1.498,1.898,1.438,0.905,0.635,0.666,0.889,0.465
1,28.414,77.181,0.305,0.818462,1.360000,2.154,1.069,0.615,0.201,0.430,...,1.126,1.411,1.400,1.830,1.337,0.886,0.625,0.611,0.855,0.391
2,28.414,77.192,0.293,0.824012,1.337000,2.130,1.059,0.603,0.205,0.437,...,1.124,1.310,1.366,1.752,1.338,0.854,0.633,0.589,0.819,0.394
3,28.414,77.202,0.305,0.833312,1.314000,2.129,1.047,0.624,0.222,0.453,...,1.146,1.298,1.375,1.763,1.369,0.857,0.640,0.601,0.823,0.417
4,28.414,77.213,0.319,0.848415,1.327000,2.147,1.050,0.653,0.241,0.453,...,1.187,1.334,1.450,1.801,1.340,0.891,0.667,0.662,0.858,0.472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.235,0.381000,1.622980,1.339,1.107,0.696,0.286,0.276,...,1.468,1.528,1.353,2.004,1.537,0.909,0.658,0.909,1.041,0.527
1346,28.864,77.088,0.246,0.373000,1.633852,1.259,1.066,0.698,0.286,0.293,...,1.566,1.533,1.410,2.410,1.592,0.926,0.699,1.010,1.076,0.607
1347,28.864,77.098,0.248,0.375000,1.647527,1.258,1.055,0.692,0.302,0.295,...,1.563,1.536,1.438,2.407,1.596,0.922,0.699,0.995,1.077,0.625
1348,28.864,77.109,0.246,0.375000,1.668693,1.244,1.055,0.698,0.320,0.314,...,1.575,1.536,1.462,2.404,1.646,0.915,0.735,1.008,1.038,0.678
1349,28.874,77.088,0.241,0.391000,1.633852,1.333,1.113,0.693,0.298,0.299,...,1.553,1.445,1.345,1.972,1.587,0.826,0.700,0.878,0.921,0.510

In [18]:
df.to_csv("/home/sysadm/Desktop/Term project/Modis_2018_2019_2020csv_aod/AOD_extract_ipynb/raw_data_allyear/merged_all_year.csv",index = False)

In [19]:
df

,latitude,longitude,2018-01-02,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-09,2018-01-13,2018-01-14,...,2023-08-07,2023-08-11,2023-08-12,2023-08-16,2023-08-17,2023-09-09,2023-09-10,2023-09-12,2023-09-14,2023-09-22
0,28.414,77.171,0.322,0.816000,1.422000,2.179,1.117,0.625,0.206,0.441,...,1.186,1.498,1.498,1.898,1.438,0.905,0.635,0.666,0.889,0.465
1,28.414,77.181,0.305,0.818462,1.360000,2.154,1.069,0.615,0.201,0.430,...,1.126,1.411,1.400,1.830,1.337,0.886,0.625,0.611,0.855,0.391
2,28.414,77.192,0.293,0.824012,1.337000,2.130,1.059,0.603,0.205,0.437,...,1.124,1.310,1.366,1.752,1.338,0.854,0.633,0.589,0.819,0.394
3,28.414,77.202,0.305,0.833312,1.314000,2.129,1.047,0.624,0.222,0.453,...,1.146,1.298,1.375,1.763,1.369,0.857,0.640,0.601,0.823,0.417
4,28.414,77.213,0.319,0.848415,1.327000,2.147,1.050,0.653,0.241,0.453,...,1.187,1.334,1.450,1.801,1.340,0.891,0.667,0.662,0.858,0.472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.235,0.381000,1.622980,1.339,1.107,0.696,0.286,0.276,...,1.468,1.528,1.353,2.004,1.537,0.909,0.658,0.909,1.041,0.527
1346,28.864,77.088,0.246,0.373000,1.633852,1.259,1.066,0.698,0.286,0.293,...,1.566,1.533,1.410,2.410,1.592,0.926,0.699,1.010,1.076,0.607
1347,28.864,77.098,0.248,0.375000,1.647527,1.258,1.055,0.692,0.302,0.295,...,1.563,1.536,1.438,2.407,1.596,0.922,0.699,0.995,1.077,0.625
1348,28.864,77.109,0.246,0.375000,1.668693,1.244,1.055,0.698,0.320,0.314,...,1.575,1.536,1.462,2.404,1.646,0.915,0.735,1.008,1.038,0.678
1349,28.874,77.088,0.241,0.391000,1.633852,1.333,1.113,0.693,0.298,0.299,...,1.553,1.445,1.345,1.972,1.587,0.826,0.700,0.878,0.921,0.510