In [5]:
import os
import pandas as pd

# Directory containing your CSV files
csv_directory = '/home/sysadm/Desktop/Term project/csvfile with whom i kriging'

# Iterate through all CSV files in the directory
for filename in os.listdir(csv_directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(csv_directory, filename)
        
        # Load the CSV file into a DataFrame
        data = pd.read_csv(file_path)
        
        # Apply the column name cleaning operations to all columns
        data.columns = data.columns.str.replace('_x', '').str.replace('_y', '').str.replace(r'\.1', '')
        
        # Save the cleaned DataFrame with the same file name
        data.to_csv(file_path, index=False)

In [6]:
import os

# Directory containing your CSV files
csv_directory = '/home/sysadm/Desktop/Term project/csvfile with whom i kriging'

# List all CSV files in the directory and print their full paths
for root, _, files in os.walk(csv_directory):
    for file in files:
        if file.endswith('.csv'):
            file_path = os.path.join(root, file)
            print(file_path)

/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2023_below_33_percentage.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2023_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2020_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2020_below_33_percentage.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2018_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging_merged_mixed.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2021_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2018_below_33_percentage.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2019_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2019_below_33_percentage.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2021_below_33_percentage.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2020_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2018_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2019_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2023_sorted_dates.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2021_below_33_percentage_kriging.csv
/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage.csv

In [7]:
merged_data_2018 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2018_sorted_dates.csv")
merged_data_2018

,latitude,longitude,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08,...,2018-12-22,2018-12-23,2018-12-24,2018-12-25,2018-12-26,2018-12-27,2018-12-28,2018-12-29,2018-12-30,2018-12-31
0,28.414,77.171,NaN,0.322,NaN,0.816,1.422,2.179,1.117,NaN,...,0.552,0.933,1.650,0.921,NaN,0.554,NaN,0.906,NaN,NaN
1,28.414,77.181,NaN,0.305,NaN,NaN,1.360,2.154,1.069,NaN,...,0.543,0.936,1.620,0.884,NaN,0.522,NaN,0.893,NaN,1.329
2,28.414,77.192,NaN,0.293,NaN,NaN,1.337,2.130,1.059,NaN,...,0.550,0.954,1.626,0.870,NaN,0.516,NaN,0.897,NaN,1.334
3,28.414,77.202,NaN,0.305,NaN,NaN,1.314,2.129,1.047,NaN,...,0.570,0.973,1.654,0.863,NaN,0.533,NaN,0.899,NaN,1.335
4,28.414,77.213,NaN,0.319,NaN,NaN,1.327,2.147,1.050,NaN,...,0.591,1.009,1.703,0.879,NaN,0.579,NaN,0.919,NaN,1.362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,NaN,0.235,NaN,0.381,NaN,1.339,1.107,NaN,...,0.629,0.784,2.199,1.083,NaN,0.818,NaN,0.818,NaN,NaN
1346,28.864,77.088,NaN,0.246,NaN,0.373,NaN,1.259,1.066,NaN,...,0.612,0.780,2.059,1.059,NaN,0.810,NaN,0.805,NaN,1.081
1347,28.864,77.098,NaN,0.248,NaN,0.375,NaN,1.258,1.055,NaN,...,0.607,0.787,2.039,1.056,NaN,0.805,NaN,0.804,NaN,1.081
1348,28.864,77.109,NaN,0.246,NaN,0.375,NaN,1.244,1.055,NaN,...,0.595,0.797,1.997,1.024,NaN,0.782,NaN,0.796,NaN,1.081
1349,28.874,77.088,NaN,0.241,NaN,0.391,NaN,1.333,1.113,NaN,...,0.618,0.784,2.120,1.042,NaN,0.757,NaN,0.788,NaN,1.044

In [8]:
below_33_2018 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2018_below_33_percentage_kriging.csv") 
below_33_2018

,latitude,longitude,2018-01-02,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-09,2018-01-13,2018-01-14,...,2018-12-15,2018-12-16,2018-12-18,2018-12-20,2018-12-22,2018-12-23,2018-12-24,2018-12-25,2018-12-27,2018-12-29
0,28.414,77.171,0.322,0.816000,1.422000,2.179,1.117,0.625,0.206,0.441,...,0.652,0.760,0.404,0.688,0.552,0.933,1.650,0.921,0.554,0.906
1,28.414,77.181,0.305,0.818462,1.360000,2.154,1.069,0.615,0.201,0.430,...,0.647,0.745,0.405,0.675,0.543,0.936,1.620,0.884,0.522,0.893
2,28.414,77.192,0.293,0.824012,1.337000,2.130,1.059,0.603,0.205,0.437,...,0.665,0.760,0.415,0.679,0.550,0.954,1.626,0.870,0.516,0.897
3,28.414,77.202,0.305,0.833312,1.314000,2.129,1.047,0.624,0.222,0.453,...,0.663,0.777,0.430,0.686,0.570,0.973,1.654,0.863,0.533,0.899
4,28.414,77.213,0.319,0.848415,1.327000,2.147,1.050,0.653,0.241,0.453,...,0.681,0.815,0.444,0.704,0.591,1.009,1.703,0.879,0.579,0.919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.235,0.381000,1.622980,1.339,1.107,0.696,0.286,0.276,...,0.635,0.491,0.482,0.666,0.629,0.784,2.199,1.083,0.818,0.818
1346,28.864,77.088,0.246,0.373000,1.633852,1.259,1.066,0.698,0.286,0.293,...,0.636,0.520,0.490,0.625,0.612,0.780,2.059,1.059,0.810,0.805
1347,28.864,77.098,0.248,0.375000,1.647527,1.258,1.055,0.692,0.302,0.295,...,0.639,0.525,0.483,0.621,0.607,0.787,2.039,1.056,0.805,0.804
1348,28.864,77.109,0.246,0.375000,1.668693,1.244,1.055,0.698,0.320,0.314,...,0.637,0.532,0.468,0.617,0.595,0.797,1.997,1.024,0.782,0.796
1349,28.874,77.088,0.241,0.391000,1.633852,1.333,1.113,0.693,0.298,0.299,...,0.615,0.481,0.469,0.620,0.618,0.784,2.120,1.042,0.757,0.788

In [9]:
merged_data_2019 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2019_sorted_dates.csv")
merged_data_2019

,latitude,longitude,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
0,28.414,77.171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.132,...,NaN,NaN,NaN,NaN,0.531,NaN,NaN,NaN,NaN,NaN
1,28.414,77.181,NaN,NaN,NaN,NaN,1.930,NaN,NaN,1.105,...,NaN,NaN,NaN,NaN,0.658,NaN,NaN,NaN,NaN,NaN
2,28.414,77.192,NaN,NaN,NaN,NaN,1.910,NaN,NaN,1.101,...,NaN,NaN,NaN,NaN,0.636,NaN,NaN,NaN,NaN,NaN
3,28.414,77.202,NaN,NaN,NaN,NaN,1.925,NaN,0.709,1.104,...,NaN,NaN,NaN,NaN,0.608,NaN,NaN,NaN,NaN,NaN
4,28.414,77.213,NaN,NaN,NaN,NaN,1.959,NaN,NaN,1.135,...,NaN,NaN,NaN,NaN,0.615,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.891,NaN,NaN,NaN,2.005,NaN,0.573,1.305,...,NaN,NaN,NaN,NaN,0.471,NaN,NaN,NaN,NaN,NaN
1346,28.864,77.088,0.915,NaN,NaN,NaN,1.947,NaN,0.559,1.318,...,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN
1347,28.864,77.098,0.915,NaN,NaN,NaN,1.927,NaN,0.557,1.313,...,NaN,NaN,NaN,NaN,0.505,NaN,NaN,NaN,NaN,NaN
1348,28.864,77.109,0.914,NaN,NaN,NaN,1.889,NaN,0.551,1.293,...,NaN,NaN,NaN,NaN,0.520,NaN,NaN,NaN,NaN,NaN
1349,28.874,77.088,0.876,NaN,NaN,NaN,1.950,NaN,0.576,1.278,...,NaN,NaN,NaN,NaN,0.486,NaN,NaN,NaN,NaN,NaN

In [10]:
below_33_2019 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2019_below_33_percentage_kriging.csv")
below_33_2019

,latitude,longitude,2019-01-05,2019-01-07,2019-01-08,2019-01-10,2019-01-14,2019-01-16,2019-01-17,2019-01-26,...,2019-11-25,2019-11-28,2019-11-30,2019-12-02,2019-12-03,2019-12-07,2019-12-09,2019-12-10,2019-12-21,2019-12-26
0,28.414,77.171,1.975559,0.674077,1.132,0.862000,0.530,0.550315,1.123,0.595,...,0.444,0.963,0.499,0.339,0.431,0.514,0.348,0.560,0.607,0.531
1,28.414,77.181,1.930000,0.685184,1.105,0.846000,0.525,0.555699,1.039,0.559,...,0.449,0.940,0.491,0.337,0.425,0.503,0.362,0.575,0.594,0.658
2,28.414,77.192,1.910000,0.696978,1.101,0.840000,0.527,0.561571,1.128,0.553,...,0.452,0.938,0.490,0.337,0.436,0.504,0.368,0.577,0.590,0.636
3,28.414,77.202,1.925000,0.709000,1.104,0.838000,0.525,0.594000,1.058,0.560,...,0.456,0.942,0.514,0.363,0.453,0.510,0.366,0.582,0.606,0.608
4,28.414,77.213,1.959000,0.716712,1.135,0.858000,0.536,0.568611,1.065,0.593,...,0.479,1.029,0.543,0.388,0.478,0.579,0.384,0.597,0.640,0.615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,2.005000,0.573000,1.305,1.063578,0.436,0.545000,1.414,0.653,...,0.439,1.315,0.644,0.413,0.352,0.638,0.489,0.530,0.632,0.471
1346,28.864,77.088,1.947000,0.559000,1.318,1.064991,0.417,0.509000,1.427,0.694,...,0.425,1.290,0.590,0.388,0.431,0.605,0.481,0.542,0.618,0.500
1347,28.864,77.098,1.927000,0.557000,1.313,1.065573,0.423,0.511000,1.430,0.691,...,0.426,1.278,0.598,0.387,0.439,0.598,0.479,0.550,0.611,0.505
1348,28.864,77.109,1.889000,0.551000,1.293,1.082000,0.432,0.515000,1.423,0.678,...,0.426,1.269,0.603,0.390,0.467,0.600,0.482,0.572,0.602,0.520
1349,28.874,77.088,1.950000,0.576000,1.278,1.064991,0.413,0.522000,1.375,0.674,...,0.408,1.318,0.609,0.397,0.375,0.632,0.465,0.571,0.627,0.486

In [11]:
merged_data_2020 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2020_sorted_dates.csv")
#merged_data_2020
below_33_2020 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2020_below_33_percentage_kriging.csv")
#below_33_2020

In [12]:
below_33_2020

,latitude,longitude,2020-03-07,2020-12-07,2020-01-04,2020-01-19,2020-01-22,2020-01-24,2020-01-26,2020-01-28,...,2020-12-02,2020-12-04,2020-12-05,2020-12-16,2020-12-18,2020-12-21,2020-12-23,2020-12-27,2020-12-28,2020-12-30
0,28.414,77.171,0.399,1.503,1.092,0.65200,1.109,0.54785,0.735000,0.340000,...,0.477,0.741,1.221,0.53100,0.389,0.425,0.491,0.390,0.531,0.549
1,28.414,77.181,0.395,1.433,1.077,0.66500,1.070,0.54785,0.756000,0.341000,...,0.481,0.742,1.161,0.52400,0.375,0.423,0.493,0.368,0.515,0.530
2,28.414,77.192,0.390,1.476,1.085,0.66300,1.051,0.54785,0.756000,0.337000,...,0.491,0.741,1.173,0.51700,0.366,0.418,0.482,0.363,0.506,0.518
3,28.414,77.202,0.408,1.371,1.106,0.68300,1.067,0.54785,0.767311,0.354000,...,0.506,0.743,1.217,0.53200,0.377,0.423,0.483,0.375,0.505,0.525
4,28.414,77.213,0.439,1.463,1.157,0.68767,1.093,0.54785,0.785799,0.375000,...,0.525,0.748,1.233,0.54400,0.385,0.436,0.495,0.392,0.532,0.555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,0.556,1.498,1.019,0.68600,1.047,0.54500,0.514000,0.347637,...,0.507,0.697,1.089,0.50331,0.323,0.404,0.476,0.402,0.419,0.605
1346,28.864,77.088,0.559,1.482,1.032,0.67300,1.012,0.47700,0.482000,0.745000,...,0.509,0.655,1.139,0.52900,0.340,0.491,0.490,0.383,0.425,0.602
1347,28.864,77.098,0.567,1.460,1.031,0.67700,1.005,0.47800,0.487000,0.726000,...,0.506,0.650,1.137,0.52200,0.337,0.511,0.487,0.387,0.429,0.590
1348,28.864,77.109,0.571,1.436,1.035,0.68700,0.993,0.48000,0.494000,0.694000,...,0.508,0.651,1.148,0.52100,0.331,0.505,0.479,0.375,0.440,0.574
1349,28.874,77.088,0.562,1.488,1.013,0.68700,1.035,0.53700,0.492000,0.339562,...,0.488,0.697,1.128,0.48000,0.334,0.401,0.503,0.387,0.409,0.608

In [13]:
merged_data_2021 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2021_sorted_dates.csv")
#merged_data_2021
below_33_2021 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2021_below_33_percentage_kriging.csv")
#below_33_2021

In [14]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022

In [15]:
merged_data_2023 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2023_sorted_dates.csv")
#merged_data_2023
below_33_2023 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2023_below_33_percentage_kriging.csv")
#below_33_2023

In [16]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022
below_33_2022

,latitude,longitude,2022-03-21,2022-05-23,2022-10-21,2022-11-03,2022-12-04,2022-01-02,2022-01-11,2022-01-13,...,2022-12-06,2022-12-08,2022-12-10,2022-12-11,2022-12-13,2022-12-15,2022-12-17,2022-12-18,2022-12-20,2022-12-27
0,28.414,77.171,0.929,2.828,0.502,0.948,0.974,1.001,0.000,0.122,...,0.628,0.382,0.774333,0.831,0.750,0.310,0.325,0.212,0.702,0.452000
1,28.414,77.181,0.889,2.895,0.522,0.967,1.024,0.898,0.006,0.093,...,0.652,0.389,0.788927,0.772,0.753,0.317,0.328,0.231,0.709,0.477000
2,28.414,77.192,0.897,2.874,0.526,0.989,0.991,0.883,0.042,0.076,...,0.649,0.389,0.800519,0.813,0.750,0.319,0.327,0.235,0.709,0.490000
3,28.414,77.202,0.923,2.714,0.532,1.022,0.958,0.867,0.053,0.070,...,0.648,0.396,0.810146,0.786,0.749,0.333,0.338,0.232,0.724,0.505000
4,28.414,77.213,0.960,2.855,0.543,1.061,0.983,0.860,0.075,0.079,...,0.655,0.411,0.819701,0.807,0.754,0.355,0.352,0.246,0.749,0.512000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,1.225,1.801,0.581,0.680,1.091,1.254,0.013,0.031,...,0.815,0.222,0.780000,0.640,0.702,0.185,0.260,0.176,0.759,0.520000
1346,28.864,77.088,1.213,1.745,0.573,0.769,1.057,1.184,0.024,0.004,...,0.803,0.210,0.757000,0.658,0.737,0.200,0.228,0.202,0.757,0.539000
1347,28.864,77.098,1.219,1.763,0.574,0.774,1.054,1.181,0.029,0.023,...,0.818,0.239,0.774000,0.653,0.738,0.216,0.233,0.195,0.763,0.544000
1348,28.864,77.109,1.224,1.750,0.577,0.786,1.042,1.157,0.048,0.039,...,0.802,0.273,0.797000,0.667,0.739,0.237,0.247,0.177,0.773,0.570000
1349,28.874,77.088,1.188,2.512,0.577,0.690,1.099,1.166,0.006,0.021,...,0.823,0.241,0.782000,0.643,0.724,0.196,0.258,0.214,0.754,0.371038

In [17]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022
below_33_2022
below_33_2022.columns

Index(['latitude', 'longitude', '2022-03-21', '2022-05-23', '2022-10-21',
       '2022-11-03', '2022-12-04', '2022-01-02', '2022-01-11', '2022-01-13',
       ...
       '2022-12-06', '2022-12-08', '2022-12-10', '2022-12-11', '2022-12-13',
       '2022-12-15', '2022-12-17', '2022-12-18', '2022-12-20', '2022-12-27'],
      dtype='object', length=148)

In [18]:
merged_data_2022.drop("2021-12-31",axis = 1)

,latitude,longitude,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,28.414,77.171,1.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.486,NaN,NaN,NaN,0.452,NaN,NaN,NaN,NaN
1,28.414,77.181,0.898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.513,NaN,NaN,NaN,0.477,NaN,NaN,NaN,NaN
2,28.414,77.192,0.883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.533,NaN,NaN,NaN,0.490,NaN,NaN,NaN,NaN
3,28.414,77.202,0.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.545,NaN,NaN,NaN,0.505,NaN,NaN,NaN,NaN
4,28.414,77.213,0.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.557,NaN,NaN,NaN,0.512,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,1.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.520,NaN,NaN,NaN,NaN
1346,28.864,77.088,1.184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.539,NaN,NaN,NaN,NaN
1347,28.864,77.098,1.181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.544,NaN,NaN,NaN,NaN
1348,28.864,77.109,1.157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.570,NaN,NaN,NaN,NaN
1349,28.874,77.088,1.166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
merged_data_2022.head()

,latitude,longitude,2021-12-31,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,28.414,77.171,NaN,1.001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.486,NaN,NaN,NaN,0.452,NaN,NaN,NaN,NaN
1,28.414,77.181,NaN,0.898,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.513,NaN,NaN,NaN,0.477,NaN,NaN,NaN,NaN
2,28.414,77.192,NaN,0.883,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.533,NaN,NaN,NaN,0.490,NaN,NaN,NaN,NaN
3,28.414,77.202,NaN,0.867,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.545,NaN,NaN,NaN,0.505,NaN,NaN,NaN,NaN
4,28.414,77.213,NaN,0.860,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.557,NaN,NaN,NaN,0.512,NaN,NaN,NaN,NaN

In [20]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022
below_33_2022
below_33_2022.columns
merged_data_2022.columns

Index(['latitude', 'longitude', '2021-12-31', '2022-01-02', '2022-01-03',
       '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
       ...
       '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
       '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31'],
      dtype='object', length=367)

In [21]:
below_33_2022.head()

,latitude,longitude,2022-03-21,2022-05-23,2022-10-21,2022-11-03,2022-12-04,2022-01-02,2022-01-11,2022-01-13,...,2022-12-06,2022-12-08,2022-12-10,2022-12-11,2022-12-13,2022-12-15,2022-12-17,2022-12-18,2022-12-20,2022-12-27
0,28.414,77.171,0.929,2.828,0.502,0.948,0.974,1.001,0.000,0.122,...,0.628,0.382,0.774333,0.831,0.750,0.310,0.325,0.212,0.702,0.452
1,28.414,77.181,0.889,2.895,0.522,0.967,1.024,0.898,0.006,0.093,...,0.652,0.389,0.788927,0.772,0.753,0.317,0.328,0.231,0.709,0.477
2,28.414,77.192,0.897,2.874,0.526,0.989,0.991,0.883,0.042,0.076,...,0.649,0.389,0.800519,0.813,0.750,0.319,0.327,0.235,0.709,0.490
3,28.414,77.202,0.923,2.714,0.532,1.022,0.958,0.867,0.053,0.070,...,0.648,0.396,0.810146,0.786,0.749,0.333,0.338,0.232,0.724,0.505
4,28.414,77.213,0.960,2.855,0.543,1.061,0.983,0.860,0.075,0.079,...,0.655,0.411,0.819701,0.807,0.754,0.355,0.352,0.246,0.749,0.512

In [22]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022
below_33_2022
below_33_2022.columns
merged_data_2022.columns
# Assuming you have another DataFrame named 'below_33_2022' with 148 columns

# List of columns to be copied from 'other_dataframe' to 'merged_data_2022'
columns_to_copy = merged_data_2022.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2022'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2022'
    if column_name in below_33_2022.columns:
        # Update the corresponding column in 'merged_data_2022'
        merged_data_2022[column_name] = below_33_2022[column_name]

# Now, 'merged_data_2022' has been updated with the selected columns from 'other_dataframe'

In [23]:
merged_data_2022

,latitude,longitude,2021-12-31,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,28.414,77.171,NaN,1.001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.486,NaN,NaN,NaN,0.452000,NaN,NaN,NaN,NaN
1,28.414,77.181,NaN,0.898,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.513,NaN,NaN,NaN,0.477000,NaN,NaN,NaN,NaN
2,28.414,77.192,NaN,0.883,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.533,NaN,NaN,NaN,0.490000,NaN,NaN,NaN,NaN
3,28.414,77.202,NaN,0.867,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.545,NaN,NaN,NaN,0.505000,NaN,NaN,NaN,NaN
4,28.414,77.213,NaN,0.860,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.557,NaN,NaN,NaN,0.512000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,NaN,1.254,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.520000,NaN,NaN,NaN,NaN
1346,28.864,77.088,NaN,1.184,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.539000,NaN,NaN,NaN,NaN
1347,28.864,77.098,NaN,1.181,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.544000,NaN,NaN,NaN,NaN
1348,28.864,77.109,NaN,1.157,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.570000,NaN,NaN,NaN,NaN
1349,28.874,77.088,NaN,1.166,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.371038,NaN,NaN,NaN,NaN

In [24]:
# Assuming you have a DataFrame named 'merged_data_2022'
# Check how many columns have no null values
columns_with_no_nulls = merged_data_2022.columns[merged_data_2022.count() == len(merged_data_2022)]

# Get the count of columns with no null values
num_columns_with_no_nulls = len(columns_with_no_nulls)

# Print the count of columns with no null values
print(f"Number of columns with no null values: {num_columns_with_no_nulls}")

Number of columns with no null values: 148

In [25]:
df = merged_data_2022.drop("2021-12-31",axis =1)

# 2022 merge data update by the kriging csv

In [29]:
merged_data_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2022_sorted_dates.csv")
#merged_data_2022
below_33_2022 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging.csv")
#below_33_2022
below_33_2022
below_33_2022.columns
merged_data_2022.columns
# Assuming you have another DataFrame named 'below_33_2022' with 148 columns

# List of columns to be copied from 'other_dataframe' to 'merged_data_2022'
columns_to_copy = merged_data_2022.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2022'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2022'
    if column_name in below_33_2022.columns:
        # Update the corresponding column in 'merged_data_2022'
        merged_data_2022[column_name] = below_33_2022[column_name]

# Now, 'merged_data_2022' has been updated with the selected columns from 'other_dataframe'
df = merged_data_2022.drop("2021-12-31",axis =1)
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2022_below_33_percentage_kriging_merged_mixed.csv",index =  False)

In [27]:
df

,latitude,longitude,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,...,2022-12-22,2022-12-23,2022-12-24,2022-12-25,2022-12-26,2022-12-27,2022-12-28,2022-12-29,2022-12-30,2022-12-31
0,28.414,77.171,1.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.486,NaN,NaN,NaN,0.452000,NaN,NaN,NaN,NaN
1,28.414,77.181,0.898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.513,NaN,NaN,NaN,0.477000,NaN,NaN,NaN,NaN
2,28.414,77.192,0.883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.533,NaN,NaN,NaN,0.490000,NaN,NaN,NaN,NaN
3,28.414,77.202,0.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.545,NaN,NaN,NaN,0.505000,NaN,NaN,NaN,NaN
4,28.414,77.213,0.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.557,NaN,NaN,NaN,0.512000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,28.864,77.078,1.254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.520000,NaN,NaN,NaN,NaN
1346,28.864,77.088,1.184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.539000,NaN,NaN,NaN,NaN
1347,28.864,77.098,1.181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.544000,NaN,NaN,NaN,NaN
1348,28.864,77.109,1.157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.570000,NaN,NaN,NaN,NaN
1349,28.874,77.088,1.166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.371038,NaN,NaN,NaN,NaN

# 2018 yeart dataset update by the kriging

In [30]:
merged_data_2018 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2018_sorted_dates.csv")
#merged_data_2018
below_33_2018 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2018_below_33_percentage_kriging.csv")
#below_33_2018
below_33_2018
below_33_2018.columns
merged_data_2018.columns

# List of columns to be copied from 'other_dataframe' to 'merged_data_2018'
columns_to_copy = merged_data_2018.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2018'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2018'
    if column_name in below_33_2018.columns:
        # Update the corresponding column in 'merged_data_2018'
        merged_data_2018[column_name] = below_33_2018[column_name]

# Now, 'merged_data_2022' has been updated with the selected columns from 'other_dataframe'
df = merged_data_2018
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2018_below_33_percentage_kriging_merged_mixed.csv",index =  False)

# 2019 year dataset update by the kriging

In [31]:
# Load the 'merged_data_2019' DataFrame from a CSV file (replace with your file path)
merged_data_2019 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2019_sorted_dates.csv")

# Load the 'below_33_2019' DataFrame from a CSV file (replace with your file path)
below_33_2019 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2019_below_33_percentage_kriging.csv")

# List of columns to be copied from 'below_33_2019' to 'merged_data_2019'
columns_to_copy = merged_data_2019.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2019'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2019'
    if column_name in below_33_2019.columns:
        # Update the corresponding column in 'merged_data_2019'
        merged_data_2019[column_name] = below_33_2019[column_name]

# Now, 'merged_data_2019' has been updated with the selected columns from 'below_33_2019'
df = merged_data_2019

# Save the merged DataFrame to a CSV file (replace with your desired file path)
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2019_below_33_percentage_kriging_merged_mixed.csv", index=False)

# 2020 year dataset update by the kriging

In [32]:
# Load the 'merged_data_2020' DataFrame from a CSV file (replace with your file path)
merged_data_2020 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2020_sorted_dates.csv")

# Load the 'below_33_2020' DataFrame from a CSV file (replace with your file path)
below_33_2020 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2020_below_33_percentage_kriging.csv")

# List of columns to be copied from 'below_33_2020' to 'merged_data_2020'
columns_to_copy = merged_data_2020.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2020'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2020'
    if column_name in below_33_2020.columns:
        # Update the corresponding column in 'merged_data_2020'
        merged_data_2020[column_name] = below_33_2020[column_name]

# Now, 'merged_data_2020' has been updated with the selected columns from 'below_33_2020'
df = merged_data_2020

# Save the merged DataFrame to a CSV file (replace with your desired file path)
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2020_below_33_percentage_kriging_merged_mixed.csv", index=False)

# 2021 year dataset update by the kriging

In [33]:
# Load the 'merged_data_2021' DataFrame from a CSV file (replace with your file path)
merged_data_2021 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2021_sorted_dates.csv")

# Load the 'below_33_2021' DataFrame from a CSV file (replace with your file path)
below_33_2021 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2021_below_33_percentage_kriging.csv")

# List of columns to be copied from 'below_33_2021' to 'merged_data_2021'
columns_to_copy = merged_data_2021.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2021'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2021'
    if column_name in below_33_2021.columns:
        # Update the corresponding column in 'merged_data_2021'
        merged_data_2021[column_name] = below_33_2021[column_name]

# Now, 'merged_data_2021' has been updated with the selected columns from 'below_33_2021'
df = merged_data_2021

# Save the merged DataFrame to a CSV file (replace with your desired file path)
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2021_below_33_percentage_kriging_merged_mixed.csv", index=False)

# 2023 year dataset update by the kriging

In [34]:
# Load the 'merged_data_2023' DataFrame from a CSV file (replace with your file path)
merged_data_2023 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/merged_data_2023_sorted_dates.csv")

# Load the 'below_33_2023' DataFrame from a CSV file (replace with your file path)
below_33_2023 = pd.read_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2023_below_33_percentage_kriging.csv")

# List of columns to be copied from 'below_33_2023' to 'merged_data_2023'
columns_to_copy = merged_data_2023.columns  # Replace with actual column names

# Iterate through the list of columns to copy and update 'merged_data_2023'
for column_name in columns_to_copy:
    # Check if the column exists in 'below_33_2023'
    if column_name in below_33_2023.columns:
        # Update the corresponding column in 'merged_data_2023'
        merged_data_2023[column_name] = below_33_2023[column_name]

# Now, 'merged_data_2023' has been updated with the selected columns from 'below_33_2023'
df = merged_data_2023

# Save the merged DataFrame to a CSV file (replace with your desired file path)
df.to_csv("/home/sysadm/Desktop/Term project/csvfile with whom i kriging/2023_below_33_percentage_kriging_merged_mixed.csv", index=False)

import torch
import torch.nn as nn

class CNNLSTMModel(nn.Module):
    def __init__(self):
        super(CNNLSTMModel, self).__init__()
        # Define your CNN layers for spatial features
        self.cnn = nn.Sequential(
            nn.Conv2d(in_channels=1, out_channels=32, kernel_size=3),
            nn.ReLU(),
            nn.MaxPool2d(kernel_size=2),
            # Add more layers as needed
        )
        
        # Define your LSTM layer for temporal features
        self.lstm = nn.LSTM(input_size=input_size, hidden_size=hidden_size, num_layers=num_layers, batch_first=True)
        
        # Define the output layer
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        # Apply CNN to input data (reshape as needed)
        cnn_output = self.cnn(x)
        
        # Apply LSTM to CNN output
        lstm_output, _ = self.lstm(cnn_output)
        
        # Pass LSTM output through the fully connected layer
        output = self.fc(lstm_output[:, -1, :])  # Get the last time step's output
        
        return output

import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset

# Data Preprocessing
# Replace NaN values with 0
merge_data_2022 = merge_data_2022.fillna(0)

# Organize data into input sequences and targets
sequence_length = 5  # Adjust as needed
sequences = []
targets = []

for i in range(len(merge_data_2022) - sequence_length):
    seq = merge_data_2022.iloc[i:i+sequence_length]
    target = merge_data_2022.iloc[i+sequence_length]['2022-01-02']  # Replace with the actual target date
    sequences.append(seq.values)
    targets.append(target)

# Convert to NumPy arrays
sequences = np.array(sequences)
targets = np.array(targets)

# Split data into training and testing sets (adjust the split ratio as needed)
split_ratio = 0.8
split_index = int(len(sequences) * split_ratio)

train_sequences = sequences[:split_index]
train_targets = targets[:split_index]
test_sequences = sequences[split_index:]
test_targets = targets[split_index:]

# Create DataLoader for training and testing
train_dataset = TensorDataset(torch.Tensor(train_sequences), torch.Tensor(train_targets))
test_dataset = TensorDataset(torch.Tensor(test_sequences), torch.Tensor(test_targets))

batch_size = 32
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size)

# Define the model (CNN-LSTM)
class CNNLSTMModel(nn.Module):
    def __init__(self):
        super(CNNLSTMModel, self).__init__()
        # Define your CNN and LSTM layers here
        
    def forward(self, x):
        # Define the forward pass
    
# Instantiate the model
model = CNNLSTMModel()

# Define the loss function (Mean Squared Error for regression)
criterion = nn.MSELoss()

# Define the optimizer (e.g., Adam optimizer)
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

# Training loop
num_epochs = 10  # Adjust the number of epochs
for epoch in range(num_epochs):
    model.train()
    total_loss = 0.0
    for batch_inputs, batch_targets in train_loader:
        # Zero the gradients
        optimizer.zero_grad()
        
        # Forward pass
        outputs = model(batch_inputs)
        
        # Compute the loss
        loss = criterion(outputs, batch_targets)
        
        # Backpropagation
        loss.backward()
        optimizer.step()
        
        total_loss += loss.item()
    
    # Print the average loss for this epoch
    print(f'Epoch {epoch + 1}/{num_epochs}, Loss: {total_loss / len(train_loader)}')

# Testing and Prediction
model.eval()
predictions = []
with torch.no_grad():
    for batch_inputs, _ in test_loader:
        # Make predictions on the test data
        batch_predictions = model(batch_inputs)
        predictions.extend(batch_predictions.numpy())

# Convert predictions to a DataFrame (adjust columns as needed)
predicted_df = pd.DataFrame(predictions, columns=['Predicted_AOD'])

# Visualize or analyze the predictions as needed
print(predicted_df)

import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset

# Data Preprocessing
# Replace NaN values with 0
merge_data_2022 = merge_data_2022.fillna(0)

# Organize data into input sequences and targets
# Create sequences of AOD values with appropriate shifting
sequence_length = 5  # Adjust as needed
sequences = []
targets = []

for i in range(len(merge_data_2022) - sequence_length):
    seq = merge_data_2022.iloc[i:i+sequence_length]
    target = merge_data_2022.iloc[i+sequence_length]['2022-01-02']  # Replace with the actual target date
    sequences.append(seq.values)
    targets.append(target)

# Convert to NumPy arrays
sequences = np.array(sequences)
targets = np.array(targets)

# Split data into training and testing sets (adjust the split ratio as needed)
split_ratio = 0.8
split_index = int(len(sequences) * split_ratio)

train_sequences = sequences[:split_index]
train_targets = targets[:split_index]
test_sequences = sequences[split_index:]
test_targets = targets[split_index:]

# Create DataLoader for training and testing
train_dataset = TensorDataset(torch.Tensor(train_sequences), torch.Tensor(train_targets))
test_dataset = TensorDataset(torch.Tensor(test_sequences), torch.Tensor(test_targets))

batch_size = 32
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size)

# Define the model (CNN-LSTM)
class CNNLSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size):
        super(CNNLSTMModel, self).__init__()
        # Define your CNN layers for spatial features
        self.cnn = nn.Sequential(
            nn.Conv2d(in_channels=1, out_channels=32, kernel_size=3),
            nn.ReLU(),
            nn.MaxPool2d(kernel_size=2),
            # Add more layers as needed
        )
        
        # Define your LSTM layer for temporal features
        self.lstm = nn.LSTM(input_size=input_size, hidden_size=hidden_size, num_layers=num_layers, batch_first=True)
        
        # Define the output layer
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        # Apply CNN to input data (reshape as needed)
        cnn_output = self.cnn(x)
        
        # Apply LSTM to CNN output
        lstm_output, _ = self.lstm(cnn_output)
        
        # Pass LSTM output through the fully connected layer
        output = self.fc(lstm_output[:, -1, :])  # Get the last time step's output
        
        return output

# Define hyperparameters
input_size = sequences.shape[2]  # Input size based on the number of columns in sequences
hidden_size = 64
num_layers = 2
output_size = 1

# Initialize the model
model = CNNLSTMModel(input_size, hidden_size, num_layers, output_size)

# Define the loss function and optimizer
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

# Training loop
num_epochs = 10  # Adjust as needed

for epoch in range(num_epochs):
    model.train()  # Set the model to training mode
    total_loss = 0.0

    for batch in train_loader:
        inputs, targets = batch
        optimizer.zero_grad()  # Zero the gradients

        # Forward pass
        outputs = model(inputs)
        loss = criterion(outputs, targets.view(-1, 1))

        # Backward pass and optimization
        loss.backward()
        optimizer.step()
        total_loss += loss.item()

    avg_loss = total_loss / len(train_loader)
    print(f"Epoch [{epoch+1}/{num_epochs}] - Loss: {avg_loss:.4f}")

# Testing
model.eval()  # Set the model to evaluation mode
test_loss = 0.0

with torch.no_grad():
    for batch in test_loader:
        inputs, targets = batch
        outputs = model(inputs)
        loss = criterion(outputs, targets.view(-1, 1))
        test_loss += loss.item()

avg_test_loss = test_loss / len(test_loader)
print(f"Test Loss: {avg_test_loss:.4f}")

# You can now use the trained model for predictions on new data